{%extends 'layout.twig'%}
{%block body%}
<div id="about-block-body">
	<section>
		<article id="about-description" class="about">
			<h2 class="abt-h2">Picture Store, de quoi s'agit-il ?</h2>
			<p class="abt-p">
				Le contexte principal du projet est de permettre aux utilisateurs tiers d'avoir une plate-
				forme de gestion d'images, avec un système de récupération externe de ces dernières qui serait
				indépendante de la plate-forme elle-même. Grosso modo, un outil leur servant d’intermédiaire avec
				un autre compte de stockage externe dans le cloud. PictureStore utilise le système de cloud
				d'Amazon , donc par conséquent, tout utilisateur devant avoir un compte sur cet outil devrait être en possession d'un
				compte AS3 valide afin de pouvoir lier ce compte à celui de la plate-forme. De cette façon, toutes
				les activités (ajout, suppression d'images et albums) que l'utilisateur effectuera sur la plate-forme
				seront automatiquement répercutées sur son compte AS3. Ainsi, si pour une raison quelconque la
				plate-forme venait à s'arrêter, l’utilisateur ne perdrait pas ses données car il les a toutes sur son
				compte AS3 et il pourrait donc les récupérées très facilement.
			</p>
			<p class="abt-p">
				Ce projet à été réalisé par <a href="http://mackydieng.fr/" target="_blank"><b>Macky Dieng</b></a>
				dans le cadre de son projet annuel du master 2 DNR2i de <a href="http://www.unicaen.fr/" target="_blank">l'université de Caen Normandie</a>
			</p>
		</article>
	</section>
</div>
{%endblock%}
