{% extends 'layout.twig' %}
{%block body%}
  <div id="block-body">
  	<div id="b-home">
  			<div id="slogan">
  				<h1>
              Prenez en main votre solution de stockage d'images
          </h1>
  				<h3></h3>
  				<p>
  					PictureStore est une plate-forme vous permettant de stocker et gérer vos
            images dans le cloud. En vous créant un compte sur la plate-forme, vous
            bénéficiez d'une agréable interface de visualisation et gestion de vos
            différentes images stockées directement dans le cloud.
  				</p>
  				<a href="/register">S'inscrire maintenant !</a>
  			</div>
  			</div>
  	</div>
  </div>
{%endblock%}
