{% extends 'layout.twig' %}
{%block body%}
  <div id="login-block-body">
  	<section class="sup-section" id="login-section">
      <h2 class="sup-h1">Se connecter</h2>
  		<form action="/login" method="post" id="login-form">
  			<div class="field-box">
  				<label for="email">Identifiant</label><br>
  				<input type="text" name="email" id="login-email" class="form-child sup" placeholder="Votre identifiant"/>
          <p class="error-message first">L'identifiant est vide.</p>
  			</div>
  			<div class="field-box">
  				<label for="pwdconfirme">Mot de passe</label><br>
  				<input type="password" name="password" id="login-pwd" class="form-child sup" placeholder="Votre mot de passe"/>
  				<p class="error-message first">Le mot de passe est vide.</p>
  			</div>
        {%if errorMsg%}
          <p class="error-message first" style="display:block;">{{errorMsg}}</p>
        {%endif%}
  			<div class="field-box sup-btn">
  				<input type="submit" name="submit-btn" id="submit-btn" class="s-btn" value="S'identifier"/>
  			</div>
  		</form>
  		<div id="sup-link"><a href="/register">Pas encore membre ? inscrivez vous ici</a></div>
  	</section>
  </div>
{%endblock%}
