{% extends 'layout.twig' %}
{%block body%}
<div id="signup-block-body">
	<section class="sup-section">
		<h2 class="sup-h1">Inscription</h2>
		<form action="/register" method="post" id="signup-form">
      <div class="field-box">
        <label for="lastName">Nom</label><br>
        <input type="text" name="lastName" id="lname" class="form-child sup" placeholder="Votre nom"/>
        <p class="error-message first">Le nom doit être renseigné.</p>
      </div>
      <div class="field-box">
				<label for="firstName">Prénom</label><br>
				<input type="text" name="firstName" id="fname" class="form-child sup" placeholder="Votre prénom"/>
				<p class="error-message first">Le prénom doit être renseigné.</p>
			</div>
			<div class="field-box">
				<label for="email">Email</label><br>
				<input type="text" name="email" id="email" class="form-child sup" placeholder="Votre email"/>
				<p class="error-message first">L'email doit être renseigné.</p>
			</div>
			<div class="field-box">
				<label for="pwd">Mot de passe</label><br>
				<input type="password" name="password" id="pwd" class="form-child sup" placeholder="Votre mot de passe"/>
				<p class="error-message first">Le mot de passe doit être renseigné</p>
			</div>
			<div class="field-box">
				<label for="pwdconfirme">Confirmez le mot de passe</label><br>
				<input type="password" name="pwdconfirme" id="pwdconfirme" class="form-child sup" placeholder="Confirmez le mot de passe"/>
				<p class="error-message first">Les mots de passe ne correspondent pas.</p>
			</div>
			<div class="field-box sup-btn">
				<input type="submit" name="submit-btn" id="submit-btn" class="s-btn"/>
			</div>
		</form>
	</section>
</div>
{%endblock%}
