{%extends 'layout.twig'%}
{%block title%}{{user.getFirstName}} {{user.getLastName}}{%endblock%}
{%block login%}<li class="login"><a href="/logout">Déconnexion</a></li>{%endblock%}
{%block body%}
<section id="user-block-body">
  <div>
    <div id="cover-block"  style="background:url('/img/home3.jpg') no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0)">
      <div id="b-user-info">
        <figure id="b-profil">
          <img src="/img/dieng.png" alt="" />
        </figure>
        <div id="b-info">
          <h2>Macky Dieng</h2>
          <h3>dieng444</h3>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div id="b-options-user">
      <ul class="plus-options">
        <li class="first"><a href="/profile"><i class="glyphicon glyphicon-home"></i></a></li>
        <li class="first"><a href="/account">Compte</a></li>
        <li class="first"><a href="/albums">Albums</a></li>
        <li class="first active"><a href="/images">Images</a></li>
      </ul>
    </div>
  </div>
  <div id="b-content">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/img/ferrari.jpg" alt="...">
          <div class="caption">
            <h3>Toure eiffel, Paris</h3>
            <p><a href="#" style="font-style:italic;">#dieng444</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/img/ferrari.jpg" alt="...">
          <div class="caption">
            <h3>Toure eiffel, Paris</h3>
            <p><a href="#" style="font-style:italic;">#dieng444</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="/img/ferrari.jpg" alt="...">
          <div class="caption">
            <h3>Toure eiffel, Paris</h3>
            <p><a href="#" style="font-style:italic;">#dieng444</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}
