html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'old_stamperregular';
  src: url("../fonts/Old-Stamper/old_stamper-webfont.eot");
  src: url("../fonts/Old-Stamper/old_stamper-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Old-Stamper/old_stamper-webfont.woff2") format("woff2"), url("../fonts/Old-Stamper/old_stamper-webfont.woff") format("woff"), url("../fonts/Old-Stamper/old_stamper-webfont.ttf") format("truetype"), url("../fonts/Old-Stamper/old_stamper-webfont.svg#old_stamperregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'miehle_cg_condensedregular';
  src: url("../fonts/MiehleCGCondensed/miehle_cg_condensed-webfont.eot");
  src: url("../fonts/MiehleCGCondensed/miehle_cg_condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/MiehleCGCondensed/miehle_cg_condensed-webfont.woff2") format("woff2"), url("../fonts/MiehleCGCondensed/miehle_cg_condensed-webfont.woff") format("woff"), url("../fonts/MiehleCGCondensed/miehle_cg_condensed-webfont.ttf") format("truetype"), url("../fonts/MiehleCGCondensed/miehle_cg_condensed-webfont.svg#miehle_cg_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'league_gothicregular';
  src: url("../fonts/Leaguegothic-Regular/leaguegothic-regular-webfont.eot");
  src: url("../fonts/Leaguegothic-Regular/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Leaguegothic-Regular/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/Leaguegothic-Regular/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/Leaguegothic-Regular/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/Leaguegothic-Regular/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family:'Roboto',sans serif;
  background-color: #f3f5f8;
}
body header {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  height: 55px;
  width: 100%;
  background-color:rgba(21,21,23,0.95);
  color: #fff;
  padding-top: 3px;
}
.caption h3 {
  font-size: 0.85em;
}
body a:hover {
  text-decoration: none;
}
section#not-found {
  text-align: center;
  margin-top: 110px;
}
section#not-found h1{
  font-size: 1.6em;
}
/* line 325, ../sass/style.scss */
body header #logo {
  width: 21.73913%;
  float: left;
  margin-right: 4.34783%;
  display: inline;
  height: 45px;
  margin-top:12px;
  width:204px;
  margin-right: 0px;
  margin-left: 10px;
  font-size: 24px;
  font-family: 'Lobster', cursive;
  font-weight: normal;
  color: #fff;
}
/* line 340, ../sass/style.scss */
body header #icone-menu {
  width: 21.73913%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  background-color: #fff;
  height: 34px;
  width: 45px;
  color: #a0000d;
  margin-right: 14px;
  margin-top: 7px;
  border: 1px solid #f6efe7;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  cursor: pointer;
}
/* line 354, ../sass/style.scss */
body header #icone-menu #trait-container {
  padding: 5px;
  margin-top: 3px;
}
/* line 359, ../sass/style.scss */
body header #icone-menu #trait-container .trait {
  border-bottom: 2px solid rgba(21,21,23,0.95);
  width: 70%;
  margin: auto;
  margin-bottom: 5px;
}
/* line 368, ../sass/style.scss */
body header #navigations {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  background-color:rgba(21,21,23,0.95);
  position: absolute;
  z-index: 1030;
  margin-top: 51px;
  display: none;
}
/* line 379, ../sass/style.scss */
body header #navigations nav {
  margin-top: 5px;
}
/* line 385, ../sass/style.scss */
body header #navigations nav ul li {
  padding-left: 10px;
  border-bottom: 1px solid rgba(21,21,23,0.95);
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 393, ../sass/style.scss */
body header #navigations nav ul li:nth-child(1) {
  border-top: 1px solid rgba(21,21,23,0.95);
}

/* line 396, ../sass/style.scss */
body header #navigations nav ul li:hover, body header #navigations nav ul li:active, body header #navigations nav ul li:focus {
  background: rgba(21,21,23,0.8);
  /*background: #6b0008;*/
}
/* line 399, ../sass/style.scss */
body header #navigations nav ul li a {
  color: #fff;
  display: block;
  height: 36px;
  padding-top: 10px;
}
/* line 406, ../sass/style.scss */
body header #navigations nav ul li a:hover {
  color: #fff;
}
/* line 416, ../sass/style.scss */
body #block-body {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 420, ../sass/style.scss */
body #block-body #b-home {
  background: transparent url("../img/home5.jpg") no-repeat scroll 0 0/cover;
  min-height: 100%;
  position: fixed;
  right: 0;
  left: 0;
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
body #block-body #b-home2 {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  padding-bottom: 20%;
  padding-top: 10%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3000;
}
/* line 432, ../sass/style.scss */
body #block-body #b-home #slogan {
  max-width: 85%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 23px;
  color: #fff;
  text-shadow: 0 0 80px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.25), 0 2px rgba(0, 0, 0, 0.75);
}
/* line 442, ../sass/style.scss */
body #block-body #b-home #slogan h1 {
  font-family: miehle_cg_condensedregular,serif;
  font-size: 45px;
  margin-bottom: 20px;
}
/* line 447, ../sass/style.scss */
body #block-body #b-home #slogan h3 {
  font-size: 22px;
  margin-bottom: 35px;
  line-height: 1.4;
  font-family: league_gothicregular, serif;
}
/* line 453, ../sass/style.scss */
body #block-body #b-home #slogan p {
  line-height: 1.1;
  margin-bottom: 20px;
  display: none;
}
/* line 458, ../sass/style.scss */
body #block-body #b-home #slogan a {
  background-color: rgb(18, 143, 220);
  -moz-border-radius: 7px / 7px;
  -webkit-border-radius: 7px 7px;
  border-radius: 7px / 7px;
  color: #fff;
  font-size: 30px;
  padding: 15px;
  font-family: league_gothicregular, serif;
}
body #block-body #b-home #slogan a:hover {
  background-color: rgba(18, 143, 220, 0.90);
}
#signup-block-body,
#login-block-body,
#about-block-body,
#user-block-body {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  font-size: 0.95em;
}
#login-block-body #sup-link {
  margin-top: 15px;
  font-size: 0.8em;
}
#login-block-body #sup-link a:hover{
  text-decoration: underline;
}
#signup-block-body section,
#login-block-body section {
  padding-bottom: 40px;
  padding-top: 20px;
  padding-right: 1em;
  padding-left: 1em;
  max-width: 100%;
}
#signup-block-body section h2,
#login-block-body section h2,
#about-block-body section h2 {
  font-size: 2em;
  margin-bottom:10px;
  line-height: 1.3;
  text-align: center;
}
.alert.alert-success, .alert.alert-danger {
  text-align: center;
  display: none;
}
.field-box {
  /*margin-top: 20px;*/
}
.error-message {
  display: none;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  border-radius: 4px;
  color: #ff0000;
  font-size: 0.85em;
  margin-top: 5px;
  padding: 7px 0 7px 5px;
  width: 100%;
}
.field-box textarea {
  height: 120px;
}
input.s-btn {
  height: 40px;
  background-color: rgb(18, 143, 220);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  /*box-shadow: 2px 2px 2px 0px #000;*/
  color: #fff;
}
input.s-btn:hover {
  background-color: rgba(18, 143, 220, 0.7);
}
input[type="file"], input[type="file"] {
  padding: 0px;
  display: inline;
}
#btn-add-album {
  width: 100%;
  margin-bottom: 10px;
}
#album-form {
  margin-top: 10px;
  margin-bottom: 10px;
  width:100%;
}
.field-box label {
  font-size: 1.1em;
  display: none;
}
input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #5e5e5e;
  font-size: 16px;
  height: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0.5em;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width:100%;
}
span.desc-span {
  margin-top:5px;
  display: block;
}
#about-block-body {
  padding: 1em;
  font-size: 1em;
}
#about-block-body section article p{
line-height: 1.3;
margin-bottom: 10px;
}
#user-block-body {
  padding: 0;
}
#cover-block {
  height: 160px;
  background-color: #666;
  padding: 1em;
}
#b-user-info {
  display: flex;
  margin-bottom: 0;
  min-height: 130px;
  padding: 60px 1em 1em;
  position: relative;
}
#b-user-info #b-profil {
  margin-right: 7px;
  width: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 3px;
  z-index: 0;
  left:5px;
  position: absolute;
  top: 40px;
}
#b-user-info #b-info {
  left: 110px;
  position: absolute;
  top:45px;
}
#b-user-info #b-info h2 {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.3;
  text-shadow: 4px 4px 4px #000;
}
#b-user-info #b-info h3 {
  color: #fff;
  /*font-size: 0.96em;*/
  line-height: 1.3;
  text-shadow: 4px 4px 4px #000;
  font-style: italic;
}

#b-user-info #b-profil img {
  width:100%;
  height: auto;
  display: block;
}
#b-options-user {
  height: 32px;
  background-color: #f9f9f9;
  border:1px solid #eee;
}
#b-options-user ul{
  display:flex;
}
#b-options-user ul li {
  /*margin-right:3%;*/
  width: 22%;
  border-right: 1px solid #eee;
  text-align: center;
  padding-top:5px;
  padding-bottom:5px;
}
#b-options-user ul li:nth-last-child(1) {
  border-right:none;
}

#b-options-user ul li a {
  color: rgba(17, 17, 17, 0.6);
  width: 100%;
  height: auto;
  padding-top:5px;
  padding-top: 2px;
  display: block;
}
#b-options-user ul li:hover{
  background-color: #ddd;
  outline: 1px solid #ddd;
}
.active {
  background-color: #ddd;
  outline: 1px solid #ddd;
}
#b-content {
  padding: 1em;
}
#b-content row a {
  display: block;
}
#b-content h2 {
  font-size:1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
}
#b-content h2.no-content {
  font-size: 1.6em;
  text-align: center;
  margin-top: 40px;
}
#b-content p{
  line-height: 1.3;
}
#b-content #b-account h2 {
  text-align: center;
}
#b-desc {
  margin-bottom: 20px;
}
.sperated-line {
  border-top: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
}
#images-container-row .thumbnail {
  padding: 0px;
}
#images-container-row .thumbnail img {
  display: block;
  width: 100%;
  margin: auto;
  cursor: pointer;
}
#images-container-row .thumbnail div.caption div.action {
  display: flex;
  margin-bottom: 5px;
  width: 20.5%;
  margin: auto;
}
#images-container-row .thumbnail div.caption div.action .action-item {
  margin-right:25px;
  color: #ccc;
}
#images-container-row .thumbnail div.caption div.action .deleteImage {
  cursor: pointer;
}
#images-container-row .thumbnail div.caption div.action .action-item:nth-last-child(1) {
  margin-right:0px;
}
@media(min-width: 42em) {
  section#not-found h1{
    font-size: 2em;
  }
  body header {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 207, ../sass/style_8.scss */
  body header #banner #logo {
    width: 36.17021%;
    float: left;
    margin-right: 2.12766%;
    margin-right: 0px;
    width: 410px;
    font-size: 37px;
    margin-top: 5px;
  }
  /* line 215, ../sass/style_8.scss */
  body header #banner #navigations {
    width: 36.17021%;
    float: right;
    margin-right: 0;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
  }
  /* line 236, ../sass/style_8.scss */
  body header #banner #navigations nav ul li {
    text-align: center;
  }
  /* line 246, ../sass/style_8.scss */
  body #block-body {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 252, ../sass/style_8.scss */
  body #block-body #b-home #slogan {
    margin-top: 150px;
  }
  #signup-block-body section,
  #login-block-body section {
    max-width: 50%;
    margin: auto;
  }
  #signup-block-body section h1.sup-h1
  #login-block-body section h1.sup-h1 {
    text-align: left;
  }
  input {
    width:350px;
  }
  #about-block-body section {
    max-width: 70%;
    margin: auto;
  }
  #cover-block {
    height:230px;
  }
  #b-options-user ul li {
    width: 25%;
  }
  #b-user-info #b-profil {
    width: 130px;
    top: 60px;
  }
  #b-user-info #b-info {
    top:55px;
    left:145px;
  }
  #b-user-info #b-info h2 {
    font-size:1.5em;
  }
  #account-f-input-container {
    display: flex;
  }
  #account-f-input-container #left {
    margin-right: 10px;
  }
  input[type="file"] {
    margin-bottom: 12px;
  }
  #album-form input[name="uploadedImages"] {
    width:330px;
    margin-right: 3px;
  }
  #btn-add-album {
    width:200px;
    float: right;
  }
  #album-form {
    float:left;
  }
  #album-form input {
    width:282px;
  }
  #album-form input[type="submit"] {
    width:150px;
    border-top: 0px;
    height: 35px;
  }
  #images-container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #images-container-row .thumbnail {
    width:32%;
  }
  #album-form.album-detail {
    padding-left:10%;
    padding-right:10%;
  }
  #images-container-row .thumbnail div.caption div.action {
    margin-top: 5px;
  }
}
@media(min-width: 64em) {
  body header {
    width: 100%;
    float: right;
    margin-right: 0;
    padding-left: 0em;
    padding-right: 0em;
    height: 5em;
  }
  /* line 154, ../sass/style_12.scss */
  body header #banner {
    max-width:66em;
    min-width: 64em;
    margin: auto;
  }
  /* line 160, ../sass/style_12.scss */
  body header #banner #logo {
    font-size: 39px;
    margin-top: 16px;
    width: 400px;
  }
  /* line 167, ../sass/style_12.scss */
  body header #banner #icone-menu {
    display: none;
  }
  /* line 171, ../sass/style_12.scss */
  body header #banner #navigations {
    position: relative;
    z-index: 0;
    display: block;
    width: 400px;
    height: 5em;
    margin-top: -3px;
    background-color: inherit;
  }
  /* line 182, ../sass/style_12.scss */
  body header #banner #navigations nav {
    margin-top: 0px;
    height: 100%;
  }
  /* line 187, ../sass/style_12.scss */
  body header #banner #navigations nav ul {
    display: flex;
    height: 100%;
  }
  /* line 192, ../sass/style_12.scss */
  body header #banner #navigations nav ul li {
    border-bottom: none;
    height: 100%;
    /*margin-right: 25px;*/
    font-size: 0.95em;
    line-height: 1.3;
    padding-bottom: 5px;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 393, ../sass/style.scss */
  body header #banner #navigations nav ul li.login {
    background-color: rgb(18, 143, 220);
    /*padding: 5px;*/
    font-weight: bold;
  }
  body header #banner #navigations nav ul li a {
    height: 58px;
    width: 100%;
  }
  body header #banner #navigations nav ul li a:hover {
    text-decoration: none;
  }
  /* line 204, ../sass/style_12.scss */
  body header #banner #navigations nav ul li:nth-last-of-type(1) {
    margin-right: 0px;
  }
  /* line 208, ../sass/style_12.scss */
  body header #banner #navigations nav ul li:nth-child(1) {
    border-top: none;
  }
  /* line 234, ../sass/style_12.scss */
  body #block-body {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 237, ../sass/style_12.scss */
  body #block-body #b-home {
    margin: inherit;
  }
  /* line 241, ../sass/style_12.scss */
  body #block-body #b-home #slogan {
    margin-top: 60px;
    max-width: 76%;
  }
  /* line 247, ../sass/style_12.scss */
  body #block-body #b-home #slogan h1 {
    font-size: 75px;
    width: 63%;
    margin-bottom: 5px;
  }
  /* line 252, ../sass/style_12.scss */
  body #block-body #b-home #slogan h3 {
    display: none;
  }
  /* line 255, ../sass/style_12.scss */
  body #block-body #b-home #slogan p {
    display: block;
    width: 50%;
    margin-bottom: 50px;
    line-height: 1.3;
    text-shadow: 0 0 100px rgba(0, 0, 0, 0.5), 0 0 100px rgba(0, 0, 0, 0.25), 0 2px rgba(0, 0, 0, 0.75);
  }
  #signup-block-body, #login-block-body {
    max-width: 100%;
  }
  #signup-block-body section,
  #login-block-body section {
    max-width: 28%;
  }
  /*input {
    width:350px;
  }*/
  .field-box label {
    display: inline;
  }
  .field-box {
    margin-top: 10px;
  }
  #about-block-body section {
    max-width: 40%;
    text-align: justify;
  }
  #b-user-info {
    max-width: 68em;
    margin: auto;
  }
  #cover-block {
    height: 300px;
  }
  #b-options-user .plus-options {
    max-width: 45em;
    margin: auto;
  }
  #b-user-info #b-profil {
    top: 135px;
    width: 170px;
  }
  #b-user-info #b-info {
    left: 185px;
    top: 135px;
  }
  #b-user-info #b-info h2 {
    font-size:1.7em;
  }
  #b-content {
    max-width: 67em;
    margin: auto;
    margin-top:10px;
    background-color: #fff;
  }
  #b-content.profile {
    display: flex;
  }
  #b-content.profile #b-desc{
    width: 45%;
    margin-right:30px;
    text-align: justify;
  }
  #b-content.profile #home-images-container {
    width: 50%;
  }
  #album-form {
    display: flex;
  }
  #album-form input {
    margin-right: 8px;
    width: 390px;
    margin-top: 0px;
  }
  #album-form input[type="submit"] {
    border-top: 0 none;
    width:200px;
    border-radius: 0px;
    -moz-border-radius: 4px / 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px / 4px;
    margin-right: 0px;
  }
  #album-form.album-detail {
    padding-left: 13em;
    padding-right: 13em;
  }

}
